<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://www.webglearth.com/v2/api.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script src="/static/layers_management.js"></script>
    <script src="/static/main.js"></script>


    <title>Earth Observation</title>
</head>

<body>
    <div id="date_form" style="height:20%">
        <p>Date: <input type="text" id="datepicker"></p>
    </div>
    <div id="earth_div" style="height:600px;"></div>
</body>

</html>